body{
    margin-right: 4em;
    margin-left: 4em;
    font-family: 'Raleway', sans-serif;
    background-color: blanchedalmond;
    color:saddlebrown;
}

h1,h2,h3{
    
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

header{
    background-color:tan;
    width: 100%;
    height: 100;
    border-style: solid;
    border-width: .2em;
    ;padding-top: .2em;
   
}

nav{
    border-width: 1em; 
    border-color: tan;
    margin-top:1em;
}

nav a{
    margin: 3em;
    width:5em;
    text-align: center;
    
}

main{
    margin-left: 3em
    margin-right: 3em

    }
div{
    
   padding-left: 16em
}

h1{
/*
   border: .2em;
    border-style:inset;
    margin:.2em;
    border-color:orange;
*/
    text-align: left;
}

.imgcontainer{
    height: 300px;
    overflow: hidden;
}

.thisimage{
    height: 300px;
}

/*
.glenda{
    color: tan;
    background-color: tan;
}*/
