body{
    margin: 4px;
    margin-left: 4px;
    font-family: 'Raleway', sans-serif;
    background-color: pink;
    color: white
}

nav{
    border-width: 1px; 
    border-color: black;
    margin-top:1px;
}

nav a{
    background-color:white;
    margin: 6px;
    width:12;
    text-align: center;
}

main{
    margin-left: 4px;
    }

h1{
    border-width: 1px;
    border-style: solid;
    border-color: black;
}