body{
    margin: 4em;
    margin-left: 4em;
    font-family: 'Raleway', sans-serif;
    background-color: tan;
    color: saddlebrown
}

nav{
    border-width: 1em; 
    border-color: saddlebrown;
    margin-top:1em;
}

nav a{
    background-color:tan;
    margin: 3em;
    width:6em;
    text-align: center;
}

main{
    margin-left: 4em
    }

h1{
   border: 1em;
    border-style:inset;
    margin:1em;
    border-color: saddlebrown;
    text-align: center;
}